<%- include('partials/head.ejs') %>
<%- include('partials/navegation.ejs') %>
<div class="no-encontrada">
<img class="w-50 h-50" src="img/E404.svg" alt="Pagina no encontrada">
</div>
<%- include('partials/footer.ejs') %>